<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body class="new-post">
    <form method="post" action ="/posts">
        
        <p>Username</p><input type="text"  placeholder=" Enter Your username" name="username" required>
        <p>content</p><textarea placeholder="Write something to relates your Post" name="content" ></textarea>
        <button>Submit</button>
    </form>
</body>
</html>