<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/see.css">
    <title>See More</title>
</head>
<body><div class="container">
    <h1>Extra information</h1>

    <div class="post">
    <h2 class="id">id:<%= post.id %> </h2>
    <p>Posted on: <%= post.createdAt %></p>
        <h3 class="username">username: @<%= post.username%> </h3>
        <h3 class="username">contentet: <%= post.content %> </h3>
    </div>
</div>
</body>
</html>